{% extends "base.html" %}
{% block title %}
  О проекте
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О проекте
      </div>
      <div class="card-body">
        <h3>Привет! Я — Django-разработчик</h3>
        <p>
          Меня зовут Максим. Я специализируюсь на создании веб-приложений на Django,
          работаю с SQL и уделяю большое внимание тестированию (unittest, pytest).
        </p>
        <h4>Мой проект: Blogicum!</h4>
        <p>
          Blogicum — это полноценный блог-платформа с возможностью создания постов,
          комментариев, категорий и авторизацией.
        </p>
        <ul>
          <li>Разработка на Django (MVT, ORM, формы, CBV)</li>
          <li>Работа с PostgreSQL/MySQL (SQL запросы, индексы)</li>
          <li>Покрытие кода тестами (unittest + pytest, >80% coverage)</li>
          <li>Соблюдение PEP8, использование Git и GitHub</li>
          <li>Безопасность: защита от XSS, CSRF, SQL-инъекций, настройка прав доступа.</li>
          <li>Документация: код задокументирован, есть README с инструкцией по развертыванию.</li>
    </ul>
        </ul>
        <p>
          Ищете исполнителя для своего проекта? Буду рад помочь с разработкой,
          доработкой или тестированием Django-приложений.Работаю по договорённости, соблюдаю дедлайны, всегда на связи.
        </p>
        <div class="contacts">
          <h3>Связаться со мной:</h3>
          <ul class="social-links">
              <li><a href="https://t.me/MaksimKME" target="_blank"><i class="fab fa-telegram"></i> Telegram</a></li>
              <li><a href="https://instagram.com/maksim1995k" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
              <li><a href="https://facebook.com/Maksim1995k" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
              <li><a href="https://twitter.com/Maksim1995k" target="_blank"><i class="fab fa-x-twitter"></i> X (Twitter)</a></li>
              <li><i class="fas fa-envelope"></i> <a href="mailto:ma.ko1995@mail.ru">ma.ko1995@mail.ru</a></li>
              <li><a href="https://vk.com/id351440896" target="_blank"><i class="fab fa-vk"></i> VK</a></li>
              <li>Посмотреть код проекта: <a href="https://github.com/Maksim-1995/project_blogicum" target="_blank">GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}